@font-face {
    font-family: Grotesk;
    src: url('../../assets/fonts/Grotesk.otf') format("opentype");
}

.logo {
    font-family: Grotesk;
    border-bottom: 3px solid var(--dark);
    
}



a {
    text-decoration: none;
    color: var(--dark);
}

.filter-btn {
    border: none;
    background: none;
    color:var(--dark);
}

.filter-btn:focus {
    border: none;
    outline: none;
    color: var(--primary);
}

.filter-btn:focus{
    outline:none !important;
}

.spacing {
    padding: 1px 6px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 8px;
}

.under::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background: var(--dark);
    bottom: 10px;
    left: 0;
}

.credit{
    font-family: Grotesk;

    position:absolute;
    bottom:0;
    left:0;
}

.credit>p>a{
    font-size: smaller;
}