@font-face {
    font-family: Grotesk, sans-serif;
    src: url('./assets/fonts/Grotesk.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --primary: #723636;
    --background: #f4e8dc;
    --dark: #232323;
    --light: #f0e7e7;
    --error: rgb(228, 46, 1);
    /* --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem); */
}

* {
    box-sizing: border-box;
}

a:hover {
    color: var(--primary);
}

/* ========================================================================================== */

html,
body {

    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
}

.page-bg {
    background-color: var(--background);
    background-image: url('./assets/paper-texture.png');
    width: 101vw;
    height: 101vh;
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* ========================================================================================== */


.about {
    border-top: 3px solid var(--dark);

    position: absolute;
    bottom: 0;
    font-size: smaller;
    /* background-color: var(--background); */
}

.side-menu {
    height: 100vh;
    border-right: 3px solid var(--dark);
    padding: 0;
}

.main-page {
    /* width: 100vw;
    height: 100vh; */
}

.bookBorder>img {
    object-fit: cover;
    width: 80%;
    transform: translate(0, -50%);
}


.bookBorder {
    border: 2px solid var(--dark);
    border-radius: 2px;


    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    padding-top: 70%;
}



.book-list {
    gap: 5% 1%;
    overflow-y: auto;
    height: 75vh;
    overflow-x: hidden;
    /* padding: 10px; */
}

::-webkit-scrollbar {
    width: 7px;

}

::-webkit-scrollbar-track {
    border: 1px solid var(--dark);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}



.button {
    background-color: #232323;
    color: var(--background);
    border-radius: 10px;
    margin: 10px;
    font-size: 1vw;
    font-family: Grotesk;
    border: 0;
    padding: 0.25rem 0.5rem;
}

.bookItem>button:hover {
    background-color: var(--primary);
}

.info {
    /* display:none; */
    visibility: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #723636be;

}

.price {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    text-shadow: 2px 2px var(--dark);
    font-family: Grotesk;
}

.bookBorder:hover>.info {
    /* display:block; */
    visibility: visible;

}

.bookBorder:hover>img {
    /* display:block; */
    filter: blur(4px)
}

.singleBook {
    height: 75vh;
}

.singleBook>div>h2 {
    font-size: larger;
}

.singleBook>div>h3 {
    font-size: large;
}

.singleBook>div {
    flex: 1;
}

.singleBorder>img {
    object-fit: cover;
    width: 100%;
}



.coverImg {
    border: 2px solid var(--dark);
    border-radius: 2px;
    padding: 20%;
}

.singleCart {
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.text-center>h2,
h3 {
    text-align: left;
}

.singleBook>div>p {
    font-size: small;

    margin: 0;

}

.singleBook {
    overflow-y: auto;

}

.description {
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh;
    line-height: 1.2;
    padding-right: 3%;
    /* margin-right: 3%; */
}

.quantity {
    color: var(--error);
    text-align: center;
}

.back {
    position: absolute;
    top: 1%;
    left: 0;
}



.singleBook::-webkit-scrollbar {
    width: 7px;

}

.singleBook::-webkit-scrollbar-track {
    border: 1px dashed var(--primary);
    border-radius: 10px;

}

.singleBook::-webkit-scrollbar-thumb {
    background: #7236366e;
    border-radius: 10px;
    border: 1px dashed var(--primary);
}

.singleBook::-webkit-scrollbar-button {
    visibility: hidden;
}

/* //////////////////////////////////////////////////// */
/* LOGIN + SIGN UP */

.userForm>form>div>input {
    flex: 5;
    border-bottom: 1px solid var(--dark);
    border-radius: 3px;
    background: var(--light);
}

.userForm>form>div {
    padding: 2%;
    display: flex;
}


/* order hsitory */


table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: seperate;
    /* border-bottom: 3px dashed var(--dark); */
    text-align: left;
    height: auto;

}



.orderCover {
    object-fit: scale-down;
    width: 100%;
    padding: 10%;
    margin: auto;
}

.orderArea {
    overflow-y: auto;
    height: 70vh;
    overflow-x: hidden;

}

.orderPage {
    height: 75vh;

}

Link {
    padding: 0;
    margin: 0;
    display: inline;
}

th {
    width: 70%;
    font-weight: normal;
}

tr {
    padding: 10%;
    vertical-align: top;
    /* border-bottom: 1px solid var(--dark); */
    border-radius: 10px;
}

td {

    width: 15%;
}

.date {
    font-size: larger;

}

/*     border:1px solid black;
    border-radius: 10px; */

.itemdivider {



    border-bottom: 1px solid var(--dark);
    border-radius: 10px;
}

.divider {

    border-radius: 10px;

}

.divider>p:last-child {
    border-bottom: 1px dashed var(--dark);
    border-left: 1px dashed var(--dark);
    border-right: 1px dashed var(--dark);
    border-radius: 10px;
}

.order>table>::nth-child {
    color: var(--primary)
}

/* tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; } */

/* ////////////////////////////////// */
/* success page */
.svg {

    height: 20vh;
    filter: invert(28%) sepia(6%) saturate(4069%) hue-rotate(314deg) brightness(90%) contrast(95%);
}

.svg:hover {

    filter: invert(7%) sepia(1%) saturate(273%) hue-rotate(314deg) brightness(101%) contrast(85%);
}

.succ {
    height:70vh;

}

/* ====================================================================================================== */

/* CHECKOUT  */

input, textarea {
    background-color: var(--light);
    border-bottom: 1px solid var(--dark);
    border-radius: 4px;
    margin: 3px;
    padding: 2px;
    text-align: center;
  }

  .total{
      text-align: left;
  }

  .thanks{
      color:var(--primary);
      text-align: center;
  }

 /* /////////////////// */
 .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.worm {
    display: flex;
    align-items: center;
    transform: perspective(1000px) rotateX(30deg);
    transform-style: preserve-3d;
    height: 70px;
}
@keyframes loading {
    0%,100% {
        height: 10px;
        transform: translateZ(-20px);
    }
    50% {
        height: 10px;
        transform: translateZ(20px);
    }
}
.worm .x {
    background-color: #498000;
    animation: loading 2s infinite;
    width: 10px;
    height: 0;
    margin: -3px;
    border-radius: 10px;
}
.worm .x:nth-child(2) {animation-delay: .1s;}
.worm .x:nth-child(3) {animation-delay: .2s;}
.worm .x:nth-child(4) {animation-delay: .3s;}
.worm .x:nth-child(5) {animation-delay: .4s;}
.worm .x:nth-child(6) {animation-delay: .5s;}
.worm .x:nth-child(7) {animation-delay: .6s;}
.worm .x:nth-child(8) {animation-delay: .7s;}