@font-face {
    font-family: Grotesk, sans-serif;
    src: url('./assets/fonts/Grotesk.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --primary: #723636;
    --background: #F4E7DA;
    --dark: #232323;
    --light: #fafafa;
    --error: rgb(228, 46, 1);
    /* --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem); */
}

* {
    box-sizing: border-box;
}

/* ========================================================================================== */

html,
body {
    min-height: 100%;

}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
}

.page-bg {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* ========================================================================================== */

.com-con {
    border-style: solid;
    border-color: var(--dark);
    padding: 10px; 
}
/* .about {
    background-color: blueviolet;
}

.content {
    background-color: cadetblue;
} */

.side-menu {
    height: 100vh;
}

.main-page {
    /* width: 100vw;
    height: 100vh; */
}

.bookBorder>img{
object-fit:cover;
width:100%;

}

.bookBorder{
    border:1px solid var(--dark);
    flex: 0 a;
    padding: 30px;
}

.book-list{
    gap: 10px 20px;
}