@font-face {
    font-family: Grotesk, sans-serif;
    src: url('./assets/fonts/Grotesk.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root {
    --primary: #723636;
    --background: #f4e8dc;
    --dark: #232323;
    --light: #fafafa;
    --error: rgb(228, 46, 1);
    /* --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem); */
}

* {
    box-sizing: border-box;
}

a:hover{
    color: var(--primary);
}

/* ========================================================================================== */

html,
body {
    min-height: 100%;
    min-width: 100%;
overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    color: var(--dark);
}

.page-bg {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
}

a {
    text-decoration: none;
    color: var(--dark);
}

/* ========================================================================================== */


.about {
    border-top: 3px solid var(--dark);
    padding:10px;
    position: absolute;
    bottom:0;
    background-color: var(--background);
}

.side-menu {
    height: 100vh;
    border-right: 3px solid var(--dark);
    padding:0;
}

.main-page {
    /* width: 100vw;
    height: 100vh; */
}

.bookBorder>img{
object-fit:cover;
width:100%;

}

.bookBorder{
    border:2px solid var(--dark);
    border-radius: 2px;
    flex: 0 a;
    padding: 30px;
    position: relative;
}



.book-list{
    gap: 10px 20px;
    overflow: scroll;
   height: 75vh;
    overflow-x: hidden; 
    padding: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    
  }

  ::-webkit-scrollbar-track {
    border: 1px solid var(--dark);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-button{
      visibility: hidden;
  }



.button{
      background-color: #232323;
      color:var(--background);
      border-radius: 10px;
      margin:10px;
      font-size:90%;
      font-family: Grotesk;
      border: 0;
      padding: 0.25rem 0.5rem;
     }

     .bookItem>button:hover{
        background-color: var(--primary);
       }

  .info{
    /* display:none; */
    visibility: hidden;
    position: absolute;
    top: 0%;
    right: 0%;
    width:100%;
    height:100%;
    background:#723636be;
  }

  .price{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:var(--light);
    text-shadow: 2px 2px var(--dark);
    font-family: Grotesk;
  }

 .bookBorder:hover >.info{
    /* display:block; */
    visibility: visible;
    
  }

.singleBook{
    height:75vh;
}

.singleBook>div>h2{
    font-size: larger;
}

.singleBook>div>h3{
    font-size: large;
}

.singleBook> div{
    flex:1;
}

.singleBorder>img{
    object-fit:cover;
    width:100%;
}

.coverImg{
    border:2px solid var(--dark);
    border-radius: 2px;
    padding:20%;
}

.singleCart{
    position: absolute;
    top:0;
    right:0;
}

.text-center>h2, h3{
    text-align: left;
}



  .single{
    font-size: small;
    overflow-y:auto;
    overflow-x: hidden; 
height: 20vh;
    line-height: 1.2;
    text-align: left;
  }